@{
    ViewData["Title"] = "Print time estimator";
}
<h2>Print time Estimator</h2>

<p>aprintrist... Print Time Estimator... This is a tool to map the relationship between actual print times and estimated print times.</p>
